<.header>
  Edit Participation <%= @participation.id %>
  <:subtitle>Use this form to manage participation records in your database.</:subtitle>
</.header>

<.participation_form changeset={@changeset} action={~p"/participations/#{@participation}"} />

<.back navigate={~p"/participations"}>Back to participations</.back>
