<.header>
  New Participation
  <:subtitle>Use this form to manage participation records in your database.</:subtitle>
</.header>

<.participation_form changeset={@changeset} action={~p"/participations"} />

<.back navigate={~p"/participations"}>Back to participations</.back>
